
  <td>
    
      <p><%= @order.email%></p>
       <p><% @order.line_items.each do |line_item| %></p>
           <%= image_tag line_item.product.image.tiny.url %>
             <h4>product name:<%= line_item.product.name%></h4>
            <p><%= line_item.product.price%></p>
            <p>description:<%= line_item.product.description%></p>
            <h4>quantity:<%= line_item.quantity %></h4>

          <% end %>
  </td>
